* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

body {
 background: url(https://s3.amazonaws.com/codecademy-content/projects/junction/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
}

div {
	display: block;
}

img {
	vertical-align: middle;
  border: 0;
}

.container {
  max-width:940px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Header */
.header {
  padding: 10px 0;
  background: rgba(0,0,0,.5);
  height: 60px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.logo {
	padding: 0 30px 0;
}

.nav {
	display: inline-block;
  margin: 0;
  padding: 8px 0;
}

.nav li {
	display: inline;
  padding: 10px;
}

/* Jumbotron */
.jumbotron {
  background-color: transparent;
  text-align: center;
  position: relative;
  top: 50px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.supporting .col-md-4 {
	display: inline-block;
  text-align: center;
  margin-bottom: 40px;
}

/* Supporting */
.supporting {
  margin-top: 40px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.download {
	position: relative;
  top: 80px;
  text-align: center;
  margin-bottom: 100px;
}

.btn-default {
  background: rgba(0,255,188,0.5);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 10px 60px;
  margin-bottom: 100px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

